body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 90%;
  margin: auto;
  padding-top: 50px;
}
.card_container{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  box-shadow: 0 0 4px #eee;
  width: 21.555%;
  padding: 15px;
}
@media (max-width:768px){
  .card{
    width: 44%;
  }
}
@media (max-width:767px){
  .card{
    width: 100%;
  }
}
.card .name{
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card .email, .card .phone, .card .website{
  width: 100%;
  font-weight: 500;
  font-size: 0.9em;
  padding-top: 10px;
  color: #ccc;
  text-transform: lowercase;
}